{% extends 'base.html.twig' %}

{% block body %}
    <span>Cześć </span>
    <span style="font-weight: 600;text-transform: uppercase">{{ name }}</span>
    <div>Masz pozdrowienia od: </div>
    {% for x in personNames %}
        <p>{{ x }}</p>
    {% endfor %}
{% endblock %}