{% extends 'base.html.twig' %}

{% block body %}


    {% if user is not empty %}

        <h1>Edytuj osobę</h1>

        <form method="post" action="">
            <input name="name" value="{{ user.name }}" placeholder="Imię" required>
            <input name="surname" value="{{ user.surname }}" placeholder="Nazwisko">
            <input type="submit" value="Edytuj">
        </form>
    {% else %}
        <div>Nie ma osób do edycji</div>
    {% endif %}

{% endblock %}